*{
    font-family: 'Times New Roman', Times, serif
    ;
}

#div1{
    padding: 5px;
    display: inline-flex;
    
}

#container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.inputs{
    margin-bottom: 0.8rem;
    height: 3rem;
    font-size: 20px;
}

#radio{
    display: flex;
    justify-content: center;
    gap: 1rem;    
    margin-bottom: 0.8rem;
    font-size: 25px;
}

#radio input[type="radio"]{
    appearance: none;
    border: black solid 1px;
    padding: 0.6rem;
    border-radius: 58%;
    background-color: white;
    margin-bottom: 1%;

}

#radio input[type="radio"]:checked{
    background-image: radial-gradient(green 40%, white 40%) ;
}

h1{
    text-align: center;
    color: rgb(0, 128, 0);
    margin-top: 0;
    font-size: 28px;
    margin-left: 10px;
}

#divButton{
    display: flex;
    justify-content: center;
}

#button{
    width: 80%;
    color: green;
    background-color: rgba(0, 128, 0, 0.281);
    border: none;
    border: rgba(199, 191, 191, 0.733) solid;    
}

#chec{
    display: inline;
    font-size: 20px;
}
#chec input[type="checkbox"]{
    height: 1.5rem;
    width: 1.5rem;
}

#seta{
    text-decoration: none;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-bottom: 0;
}